@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Indie+Flower&display=swap');

body{
    background-color: orange;
}
*{
    padding: 0;
    margin: 0;
}
#fundo {
    width: 95%;
    margin: auto;
    display: flex;
}
#papel {
    background-color: white;
    box-shadow: 8px 8px 30px 0px rgb(0, 0, 0);
    height: 100vh;
    width: 400px;
    margin:auto;

}

h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 2em;
}

#inputText {
    text-align: center;
    border: 0;
    border-bottom: 2px solid black;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    width: 70%;
}

button {
    border: 1px solid black;
    background: none;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}
i {
    font-size: 18px;
}
button:hover{
    background-color: rgb(221, 220, 220);
}
button:active{
    background-color: orange;
}

ul li {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 50px;
    list-style: circle;
}